.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: -4px;
  padding: 1px;
}

.nowrap {
  white-space: nowrap;
}

.maxw-100 {
  max-width: 100%;
  overflow-x: auto;
}

.ml-5 {
  margin-left: 5px;
}

.card {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  font-size: 12px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-0 {
  padding: 0px;
}

.width-inherit {
  width: inherit;
}

.pl-1 {
  padding-left: 1px;
}

.pr-1 {
  padding-right: 1px;
}

.d-block {
  display: block;
}
